<div>
	<h1>From people you are following</h1>
	<md-content flex>
		<!-- Recent Scores -->
		<div layout="row">
			<md-card ng-repeat="score in timeline.scoresFromFollowing">
				<md-card-title>
					<md-card-title-text>
						<span class="md-headline">{{ score.userEmail.email }} Scored {{ score.score }}%</span>
						<span class="md-subhead">
							<small>They said</small>
							<i>"{{ score.comment }}"</i>
						</span>
					</md-card-title-text>
				</md-card-title>
				<md-card-actions>
					<md-button aria-label="Follow" ng-click="timeline.followUser(score.userid)"
					           data-userId="{{ score.userid }}">
						Follow
					</md-button>
				</md-card-actions>
			</md-card>
		</div>
	</md-content>
</div>