<!-- Sign up -->
<div ng-init="ccIsAuth = ccSetAuth(true)" class="container">
	<br>
	<h1>Sign up</h1>
	<form ng-submit="auth.signup()">
		<div class="space-bottom" >
			<div class="row">
				<!-- email -->
				<div class="col-sm-4">
					<div class="form-input">
						<input type="email" placeholder="Email" ng-model="auth.userEmail">
					</div>
				</div>
				<!-- password -->
				<div class="col-sm-4">
					<div class="form-input valid">
						<input type="password" ng-model="auth.userPassword" placeholder="password">
					</div>
				</div>
			</div>
			<button type="submit" class="btn btn-floating btn-primary waves-effect waves-light">
				Sign up
			</button>
			<a ui-sref="home" class="btn btn-floating btn-default waves-effect waves-light">Cancel</a>
		</div>
	</form>
	
</div>